
<div class="container-grid">
  <div class="row">
    <div class="col-xs-12-heading">---- ABOUT ME ----</div>
  </div>
</div>

<div class="container-grid">
  <div class="row">
    <div class="col-xs-12-mini">GET TO KNOW ME A LITTLE BETTER</div>
  </div>
</div>

<div class="container-grid">
  <div class="row">
    <div class="col-xs-12-paragraph">
      <h1>WHO AM I?</h1>
      <p>Hello! My name is Asher Bueno. I am a LEVEL 1 Full Stack Web Developer.
        What I lack in experience, I make up for in skill.
        I have trained extensively at Coder Factory Academy for 6 months to master my craft of building websites from the ground up.
        Furthermore, I completed a 1 month internship at ___________ contrinubting in projects such as: ____________.
        I'm ready and able for world domination. It's time to leave the training grounds, so give me some quests so I can gain experience and level up.
        When I'm not pursuing further mastery in other languages, I can be found at:
        The Basketball Court, Collecting Sneakers, Playing Video Games and Fine Dining.</p></div>
  </div>
</div>

<div class="flex-container-work">
  <div class="me1"></div>
  <div class="me2"></div>
  <div class="me3"></div>
</div>
