<!-- JUMBOTRON -->

<div class="jumbotron-container">
	<h1>FULL STACK</h1>
	<p>WEB DEVELOPER</p>
	<p>ASHER BUENO </p>
  </div>
</div>

<!-- ROTATING TEXT -->
<section class="rw-wrapper">
	<h2 class="rw-sentence">
		<span>I'M A FULL STACK</span>
    <br/>
		<span>WEB DEVELOPER</span>
		<br/>
    <span>I LOVE CREATING, </span>
    <br/>
    <span>DESIGNING, </span>
    <br/>
    <span>PROBLEM SOLVING </span>
		<br/>
		<span>AND </span>

		<div class="rw-words">
			<span>SNEAKERS.</span>
			<span>DEGUSTATIONS.</span>
			<span>TAYLOR SWIFT.</span>
			<span>VIDEO GAMES.</span>
			<span>ART.</span>
      <span>WANDERLUST.</span>
		</div>
	</h2>
</section>

<hr>
<!-- QUOTE -->
<h2 id="profile">
<div class="quote">
<h1>"Be the same person privately, <br/> publically and personally" -Judah Smith</h1>
</div>

<hr>
<!-- ABOUT ME PAGE -->


<div class="flex-container-about-me">
  <div class="photo"></div>
	<div class="about-me">
		<h1>ABOUT</h1>
		<p>Hi, my name is Asher Bueno. I am a full stack web developer based in Sydney, Australia.
		I specialize in nothing BUT do a bit of everything, from the back end to the front end.
		I studied at a Coder Factory Academy where I learned how to be a web developer
		for 6 months. Check out my work and contact me if you want us to work together.</p>
	 </div>
</div>
<hr>

<div class="quote">
<h1>You know nothing, Jon Snow -Ygritte</h1>
</div>
<h2 id="kills">
<hr>
<div class="flex-container-skills">
		<div class="skillz">
			<h1> SKILLS </h1>
			<div class="row">
  		<div class="skills-html"></div>
  		<div class="skills-css"></div>
  		<div class="skills-js"></div>
  		<div class="skills-ruby"></div>
</div>
</div>
</div>
<hr>
<div class="quote">
<h1>"What is the point of being alive if you don’t at<br/> least try to do something remarkable?" -John Green</h1>
</div>
<hr>
<h2 id="werk">
<div class="flex-container-work">
	<div class="work">
		<h1> PORTFOLIO</h1>
		<div class="work-row">
  <div class="work1">WORK #1</div>
  <div class="work1">WORK #2</div>
  <div class="work1">WORK #3</div>
  <div class="work1">WORK #4</div>
</div>

<div class="flex-container-work1">
  <div class="work2">WORK #5</div>
  <div class="work2">WORK #6</div>
  <div class="work2">WORK #7</div>
  <div class="work2">WORK #8</div>
</div>

<hr>
<h2 id="social">
<div class="container-contact">
<ul class="contact">
	<div class="work">
		<h1> CONNECT </h1>
		<div class="work-row">
		<li><a href="https://www.linkedin.com/in/asherbueno/"><img id="linkedin" src="http://i.imgur.com/1fPpoA0.png" width="200" height="200" alt="LINKED IN"></a></li>
		<li><a href="https://twitter.com/mrasherbueno"><img id="twitter" src="http://i.imgur.com/Dlf4Nof.png" width="200" height="200" alt="Logo Thing main logo"></a></li>
		<li><a href="https://github.com/asherbueno"><img id="github" src="http://i.imgur.com/YNpT7L1.png" width="200" height="200" alt="Logo Thing main logo"></a></li>
		<li><a href="mailto:mrasherbueno@outlook.com"><img id="email" src="http://i.imgur.com/40JnTqJ.png" width="200" height="200" alt="Logo Thing main logo"></a></li>
</ul>
</div>
<hr>
