<div class="container-grid-portfolio">
  <div class="row">
    <div class="col-xs-12-portfolio">---- PORTFOLIO ----</div>
  </div>
</div>

<div class="flex-container-work">
  <div class="work1">WORK #1</div>
  <div class="work2">WORK #2</div>
  <div class="work3">WORK #3</div>
  <div class="work4">WORK #4</div>
</div>

<div class="flex-container-work1">
  <div class="work5">WORK #5</div>
  <div class="work6">WORK #6</div>
  <div class="work7">WORK #7</div>
  <div class="work8">WORK #8</div>
</div>
